<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- <link rel="icon" type="image/png" href="./favicon.ico" /> -->
    <!-- <link
      rel="icon"
      type="image/png"
      href="<%= htmlWebpackPlugin.options.url %>/favicon.ico"
    /> -->
    <meta name="theme-color" content="#0f0c29" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body class="p-0 m-0">
    <div id="root"></div>
    <script
      crossorigin
      src=<%= htmlWebpackPlugin.options.custom.react_lib %>
    ></script>
    <script
      crossorigin
      src=<%= htmlWebpackPlugin.options.custom.react_dom_lib %>
    ></script>

    <noscript> You need to enable JavaScript to run this app. </noscript>
  </body>
</html>
