.container {
  width: 100%;
  height: 50%;
  margin-top: 5%;
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: white;
  border-radius: 50%;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.first {
  font-family: cursive;
  transform: rotate(-4deg); /* Only rotate, no translate needed */
  font-size: 6vw;
  width: 60%;
  padding: 8px;
  text-align: center;
  background: -webkit-linear-gradient(
    35deg,
    rgb(221, 169, 221),
    rgb(169, 92, 225),
    rgb(112, 112, 246),
    rgb(91, 211, 91),
    rgb(236, 113, 113)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1; /* Ensure it’s above the shadow */
}

.button {
  background-color: darkred;
  padding: 8px 16px;
  border-radius: 16px;
  width: max-content;
  font-size: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: rgb(102, 0, 0);
  }
}
.secondary-button {
  background-color: white;
  padding: 8px 16px;
  border-radius: 16px;
  width: max-content;
  font-size: 1rem;
  border: 1px solid darkred;
  color: darkred;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  &:hover {
    border: 1px solid rgb(102, 0, 0);
    color: rgb(102, 0, 0);
  }
}
.buttonNext {
  display: flex;
  background-color: darkred;
  padding: 8px 16px;
  border-radius: 16px;
  justify-content: end;
  width: max-content;
  color: white;
  align-self: end;

  &:disabled {
    background-color: lightgrey;
    color: white;
    border: 1px solid white;
    cursor: auto;
  }

  &:hover {
    background-color: rgb(102, 0, 0);
  }
}
.image-with-skills-wrapper {
  display: flex;
  justify-content: flex-start; /* Align image to the left */
  align-items: center;
  width: max-content; /* Ensure the wrapper takes full width */
  height: max-content;
  overflow: hidden;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  padding: 1rem;
  width: 20%; /* Adjust width as needed */
  margin-left: 1rem; /* Space between image and skills list */
  border-radius: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #e0bbe4, #add8e6);
}

.image-wrapper {
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  overflow: hidden; /* Ensure no overflow during animation */
  width: max-content; /* Adjust width as needed */
  height: max-content; /* Adjust height as needed */
}

.fade-in-image {
  opacity: 0; /* Start as fully transparent */
  transform: translateX(-100%); /* Start position off the left side */
  animation: fadeInFromLeft 2s forwards; /* Adjust the duration as needed */
  width: max-content; /* Ensure the image covers the container */
  height: auto; /* Maintain aspect ratio */
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.workButton {
  background-color: transparent;
  padding: 4px;
  &:hover {
    color: white;
  }
}
